<!DOCTYPE html>
<html>
<head>
  <title>Memory</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Bungee+Shade&display=swap" rel="stylesheet">
</head>

<body>
<section id="app">
  <%= render 'layouts/header' %>
  <%= yield %>
  <%#= render 'layouts/footer' %>
</section>
</body>
</html>
